easydict==1.9
GDAL==3.4.1
imageio==2.13.5
matplotlib==3.3.4
numpy==1.19.5
osgeo==0.0.1
protobuf==4.21.1
pydap==3.2.2
pyproj==3.0.1
pyresample==1.21.1
PyYAML==6.0
rasterio==1.2.9
requests==2.26.0
satpy==0.26.0
sentinelhub==3.6.1
